
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*body styling*/
.font-style{
  font-family:'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 16px;
}

.background-image{
  background-image: url("../image/pexels-vishnurnair-1105666.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body-content{
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 100px 75px;
  background-color: rgba(255, 255,255, 0.15);
  backdrop-filter: blur(10px);
  border: none;
}

/* head panel*/
.header-section{
  width: 100%;
  height: 30em;
  margin: 0;
  background-color: transparent;
  position: relative; 
  z-index: -1;
  box-sizing: border-box;
}
.header-title{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  
}
.title{
  font-style: normal;
  box-sizing:border-box;
  background-color: transparent;
  height: 50%;
  width: 50%;
  text-align: center;
  padding: 1.25em;
  font-size: xx-large;
  margin: 20px 0 0 0 ;
  overflow:hidden;
}
.title > p:first-child{
  font-family: "Playfair Display", serif !important; 
  font-optical-sizing: auto;
  font-weight: bold;
  font-style:oblique;
}
/* body section*/

.music-player-container{
  width: 100%;
  height: 40em;
  box-sizing: border-box;
  padding: 3rem 6rem;
}
.music-player-box{
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color:aqua;
}
.lyrics-container{
  width: 100%;
  height: 40em;
  box-sizing: border-box;
  margin: 0;
  padding: 3rem 6rem;
}
/*Lyrics section stying*/
.lyrics-box{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: blueviolet;
}
.track{
  flex-basis: 30%;
  height: 100%;
  background-color: red;
}
.track-lyrics{
  flex-basis: 70%;
  height: 100%;
  background-color: aqua;
}
/* sample biography styling */
.bio-container{
  width: 100%;
  height: 40em;
  box-sizing: border-box;
  margin: 0;
  padding: 3rem 6rem;
}
.sample-bio-box{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: blueviolet;
}
.sample-bio{
  flex-basis: 70%;
  height: 100%;
  background-color: aquamarine;
}
.bio-image{
  flex-basis: 30%;
  height:100%;
  background-color: red;
}


/* media player */
.media-player-container{
  width: 100%;
  height: 50em;
  box-sizing: border-box;
  margin: 0;
  padding: 3em 8em;
  background-color: whitesmoke;
}
.media-player{
  width: 100%;
  height: 100%;
  background-color: aquamarine;
}
/* lyrics page setup */
.ld-container{
  padding: 0.9em 1.25em;
  width: calc(100% -20%);
  height: 60em;
  margin: 5em 5em;
  background-color: brown;
}
.ld-box{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}
.ld-left{
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
  height: 100%;
  background-color: bisque;
}
.id-notes{
  flex-basis: 65%;
  height: 100%;
  background-color: azure;
}
.ld-selection{
  flex-basis: 60%;
  width: calc(100%-15%);
  background-color: tomato;
}
.ld-placeholder{
  flex-basis: 40%;
  width: calc(100%-15%);
  background-color: yellow;
}
/* Bibliography styling */
.biblo-container{
  /* display: flex;
  flex-direction: column; */
  position: relative;
  width: calc(100%-35%);
  height: 70em;
  margin: 5em 20em;
  background-color: turquoise;
  padding: 1.25em 1.25em;
}
.biblo-title{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40xp;
  font-size: 40px;
  font-weight: bolder;
  text-decoration: underline;
}
.top-right-image{
  float: right;
  width: 30%;
  height: auto;
  margin: 0 0 1em 1em;
}
.biblo-container p{
  font-size: x-large;
}
/* gallery styling */
/* creates the container where the galllery images will be displayed */
.gallery-container{
  border: 1px solid rgba(3, 0, 14, 0.9);
  border-radius: 30px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: rgba(3, 0, 14, 0.9);
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  gap: 10px;
  padding: 20px;
}
.gallery-container::-webkit-scrollbar{
  display: none;
}
.column{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.post{
  position: relative;
  overflow: hidden;
  /* width: 10%;
  height: 300px;
  background: red; */
  /* transition: 0.6s ease-in-out; */
  opacity: 0;
  transform:  translateY(20px);
  transition: opacity 0.5s ease-in-out,
              transform 0.7s ease-in-out;
}
.post-entering{
  opacity: 0;
  transform: translateY(100px);
}
.gallery-loaded .post, .post-resizing{
  opacity: 1;
  transform: translateY(0);
}
.post-resizing{
  transition: opacity 0.5s ease-out,
                transform 0.5s ease-out;
}

img{
  width: 100%;
  filter: grayscale(100%);
  transition: 0.6s ease-in-out;
}
.post:hover{
  /* transform: scale(.95, .95); */
  cursor: pointer;
  filter: grayscale(0%);
  transform: scale(0.98);
  transition: transform 0.5s ease-in;
}
img:hover{
  filter: grayscale(0);
}
.modal{
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.3s ease;
}
.modal.active{
  background-color: rgba(0,0,0,0.9);
}
.modal-content{
  display: block;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: modalScaleIn 0.4s ease-out forwards; /* Add this line */
  transform-origin: center center; /* Ensures it scales from the center */
}

@keyframes modalScaleIn {
  from {
    transform: translate(-50%, -50%) scale(0.1);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 1;
  }
}

.close{
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover{
  color: #bbb;
}

/* 100% image width on smaller screens */
@media only screen and (max-width: 700px){
  .modal-content{
    width: 100%;
  }
}

/* gallery styling end */




