
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*body styling*/
.font-style{
  font-family:'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 16px;
}

.background-image{
  background-image: url("../image/pexels-vishnurnair-1105666.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body-content{
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 100px 75px;
  background-color: rgba(255, 255,255, 0.15);
  backdrop-filter: blur(10px);
  border: none;
}

/* head panel*/
.header-section{
  width: 100%;
  height: 30em;
  margin: 0;
  background-color: transparent;
  position: relative; 
  z-index: -1;
  box-sizing: border-box;
}
.header-title{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  
}
.title{
  font-style: normal;
  box-sizing:border-box;
  background-color: transparent;
  height: 50%;
  width: 50%;
  text-align: center;
  padding: 1.25em;
  font-size: xx-large;
  margin: 20px 0 0 0 ;
  overflow:hidden;
}
.title > p:first-child{
  font-family: "Playfair Display", serif !important; 
  font-optical-sizing: auto;
  font-weight: bold;
  font-style:oblique;
}
/* body section*/

/* music player styling */
.music-player-container{
  width: 100%;
  height: 50rem;
  box-sizing: border-box;
  padding: 3rem 10rem;
  margin: 0;
}

.music-player-box{
  width: 100%;
  height: 100%;
  border: none;
  background-color:aqua;
  box-sizing: border-box;
  padding: 10px;
}
.music-player{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #bbb;
}
.music-detail{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: beige;
}
.music-heading{
  height: 10%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;

}
.music-heading p{
  margin: 0;
  padding: 0;
}

.track-image{
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.play-icon{
  position: absolute;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,1);
  animation: buttonAnimate 1s ease-out forwards;
}
@keyframes buttonAnimate{
  form{
    transform: scale(0.3);
    background-color: rgba(0,0,0,1);
  }
  to{
    transform: scale(1.5);
    background-color: rgba(0,0,0,0);
  }
}
.play-button-icon{
  font-size: 50px;
  color: rgba(255, 255, 255, 1);
  animation: iconAnimation 0.7s ease-out forwards ;
}
@keyframes iconAnimation{
  from{
    transform: scale(0.3);
    color: rgba(255, 255, 255, 1);
  }
  to
  {
    transform: scale(1.1);
    color: rgba(255, 255, 255, 0);
  }
}

.song-image{
  height: 100%;
  width: 60%;
  filter: grayscale(0%) !important;
  object-fit: fill;

}
.controls{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 10%;
  background-color: red;
  width: 100%;
  justify-content: center;
  align-items: center;
}
/* container for the buttom play icon */
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* button styling */
.play{
  font-size: x-large;
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  background-color: transparent;
}
/* bottom buttom styling */
.buttom-play-icon{
  font-size: 40px;
}
/* volume container */
.volume{
position: absolute;
right: 5%;
display: flex;
align-items: center;
gap: 10px;
}
.volume-slider{
  width: 150px;
  accent-color: blue;
}
.vol-icon{
  font-size: 20px;
}

/* Lyrics container styling */
.lyrics-container{
  width: 100%;
  height: 40em;
  box-sizing: border-box;
  margin: 0;
  padding: 3rem 6rem;
}

/*Lyrics section stying*/
.lyrics-box{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: blueviolet;
}
/* container that holds track title */
.track{
  display: flex;
  flex-basis: 30%;
  height: 100%;
  background-color: red;
  justify-content: center;
  box-sizing: border-box;
  padding: 50px 20px 0 20px;

}
.track span{
  font-weight: 700;
  font-display:block;
  font-style: oblique;
  font-size: 40px;
  
}

.track-lyrics{
  flex-basis: 70%;
  height: 100%;
  background-color: aqua;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
}
.track-lyrics p{
  font-weight: 500;
  font-size: 23px;
  line-height: 25px;
  word-spacing: normal;
}

.view-full-lyrics{
  color: rgb(102, 102, 102);
  text-decoration: none;
  font-weight: 600;
  font-size: .8rem;
}
.view-full-lyrics:hover{
  color: rgb(0, 0, 0);
  text-decoration: underline;
}
/* sample biography styling */
.bio-container{
  width: 100%;
  height: 40em;
  box-sizing: border-box;
  margin: 0;
  padding: 3rem 6rem;
}
.sample-bio-box{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: blueviolet;
}
.sample-bio{
  flex-basis: 70%;
  height: 100%;
  background-color: aquamarine;
}
.bio-image{
  flex-basis: 30%;
  height:100%;
  background-color: red;
}

.ld-container{
  padding: 0.9em 1.25em;
  width: calc(100% -20%);
  height: 60em;
  margin: 5em 5em;
  background-color: brown;
}
.ld-box{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}
.ld-left{
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
  height: 100%;
  background-color: bisque;
}
.id-notes{
  flex-basis: 65%;
  height: 100%;
  background-color: azure;
}
.ld-selection{
  flex-basis: 60%;
  width: calc(100%-15%);
  background-color: tomato;
}
.ld-placeholder{
  flex-basis: 40%;
  width: calc(100%-15%);
  background-color: yellow;
}
/* Bibliography styling */
.biblo-container{
  /* display: flex;
  flex-direction: column; */
  position: relative;
  width: calc(100%-35%);
  height: 70em;
  margin: 5em 20em;
  background-color: turquoise;
  padding: 1.25em 1.25em;
}
.biblo-title{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40xp;
  font-size: 40px;
  font-weight: bolder;
  text-decoration: underline;
}
.top-right-image{
  float: right;
  width: 30%;
  height: auto;
  margin: 0 0 1em 1em;
}
.biblo-container p{
  font-size: x-large;
}





