/* footer */

.footer{
  width: 100%;
  min-height: 20rem; 
  height: auto;
  margin: 0;
  background-color: grey;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-wrap: wrap;
  position: relative;
}
.top-footer{
  min-height: 16rem;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: beige; */
  position: relative;
}
.top-footer::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  right: 10%;
  width: 80%;
  height: 3px;
  background-color: rgba(150, 148, 148, 0.2);
}
/* the container for the aritist image and bio */
.profile{
  display: flex;
  flex-direction: row;
  position: relative;
  flex: 2;
  /* flex-wrap: wrap; */

}
/* flex container for user image */
.profile-pic{
  display: flex;
  width: 175px;
  min-width: 175px;
  height: 175px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 10px 0 0 0;
  
  
}
/* styling for the website owners image */
.footer-pic{
  position: relative;
  object-fit: cover;
  border-radius: 50%;

}
/* profile text */
.profile-exert {
  display: block;
  box-sizing: border-box;
  max-width: 460px;
  min-width: 200px;
  padding: 20px 30px;
}
.profile-exert a{
  font-size: 1.1rem;
}

.footer-container{
  display: flex;
  flex-direction: column;
  flex: 1; 
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  position: relative;
  box-sizing: border-box;
  border-left: 3px inset rgba(185, 184, 184, 0.1);
  box-shadow: -4px 0 5px -9px rgba(0, 0, 0, 0.2); 
  /* box-shadow: inset 5px 0 10px -5px rgba(0, 0, 0, 0.5); */
  margin: 3px 0 3px 0;
}

.footer-title{
  display: flex;
  justify-content:center;
  align-items:center;
  text-decoration: underline;
  margin:0;
  padding: 10px;
  overflow: hidden;
  /* background-color: black; */

}
.footer-title h3::first-letter{
  text-transform:uppercase ;
}
.links{
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
  text-transform: capitalize;
  align-items: flex-start;
}
.links a{
  margin-top: 12px;
  text-decoration: none;
  color: rgb(22, 22, 22);
}
.links a:hover{
  color: white;
}
.links a:active{
  color: rgb(105, 104, 104);
}
.links .contact-icons{
  margin-top: 10px;
}

.contact-icons{
  font-size: 1.5rem;
}
.fa-whatsapp{
  font-size: 1.7rem !important;
  padding: 0 !important;
  margin: 10px 0 0 0 !important;
  font-weight: 600;
  cursor: default !important;
}
.fa-whatsapp span{
  font-weight: 100;
}
.browse{
  min-width: 16rem;
  width: auto;
}

.about{
  min-width: 16rem;
  width: auto;
}

.contact-us{
  min-width: 16rem;
  width: auto;
}
.social{
  padding: 0;
  min-width: 16em;
  width: auto;
}
.social-container{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
  width: 100%;
}

.contact-us span{
  font-size: .8rem;
}


.contact-us a{
  margin-top: 20px;
}

.fa-brands{
  font-size: 2rem;
  margin: 5px 10px 0 10px;
  cursor: pointer;
}
.bottom-footer{
  height: 4rem;
  background-color: blue;
  position: relative;
}