/* gallery styling */
/* creates the container where the galllery images will be displayed */
.gallery-container{
  border: 1px solid rgba(3, 0, 14, 0.9);
  border-radius: 30px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: rgba(3, 0, 14, 0.9);
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  gap: 10px;
  padding: 20px;
}
.gallery-container::-webkit-scrollbar{
  display: none;
}
.column{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.post{
  position: relative;
  overflow: hidden;
  /* width: 10%;
  height: 300px;
  background: red; */
  /* transition: 0.6s ease-in-out; */
  opacity: 0;
  transform:  translateY(20px);
  transition: opacity 0.5s ease-in-out,
              transform 0.7s ease-in-out;
}
.post-entering{
  opacity: 0;
  transform: translateY(100px);
}
.gallery-loaded .post, .post-resizing{
  opacity: 1;
  transform: translateY(0);
}
.post-resizing{
  transition: opacity 0.5s ease-out,
                transform 0.5s ease-out;
}

img{
  width: 100%;
  filter: grayscale(100%);
  transition: 0.6s ease-in-out;
}
.post:hover{
  /* transform: scale(.95, .95); */
  cursor: pointer;
  filter: grayscale(0%);
  transform: scale(0.98);
  transition: transform 0.5s ease-in;
}
img:hover{
  filter: grayscale(0);
}
.modal{
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.3s ease;
}
.modal.active{
  background-color: rgba(0,0,0,0.9);
}
.modal-content{
  display: block;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: modalScaleIn 0.4s ease-out forwards; /* Add this line */
  transform-origin: center center; /* Ensures it scales from the center */
}

@keyframes modalScaleIn {
  from {
    transform: translate(-50%, -50%) scale(0.1);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 1;
  }
}

.close{
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover{
  color: #bbb;
}

/* 100% image width on smaller screens */
@media only screen and (max-width: 700px){
  .modal-content{
    width: 100%;
  }
}

/* gallery styling end */